<div>
  <body class="body">
      <div class="row">
        <div class="col-md-4" *ngFor="let item of cartproducts">
          <div class="maincontainer">
            <div class="resultGiftBox">
              <a>
                <img
                  class="img-responsive"
                  src="../../assets/pimage/product{{ item.Pid }}.jpg"
                  
                />
              </a>
            </div>
            <div class="result-giftbox-body">
              <span class="result-giftbox-title">{{ item.Pname }}</span>
              <div class="result-giftbox-price">
                <span>₹ {{ item.Pprize }} </span>
                <div>
                <span *ngFor="let item of arrystar(item.Prating); let i = index;" class="fa fa-star checked" style="color: orange;"></span>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <!-- <div *ngFor="let item of getitems">{{ item.size }}</div> -->
    </body>
</div>
