<div>
    <form class="signup" [formGroup]="userLogin" (ngSubmit)="register()">
        <div class="panel panel-primary">
          <div class="panel-body">
           <div class="form-group">
              <h3><b>Create Account</b></h3>
              <label class="col-sm-4 control-label">
                </label>
           </div><br><br>
            <div class="form-group">
              <label class="col-sm-4 control-label">Your name</label>
              <div class="col-sm-8">
                
                	<!-- <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                   </div> -->
                <input [(ngModel)]="newuser.name" id="fullName" type="text" formControlName="name" class="form-control">
                
                <div *ngIf="fieldValues.name.invalid && (fieldValues.name.dirty || fieldValues.name.touched)" class="alert">
                  <div *ngIf="fieldValues.name.errors.required">Name is required.</div>
                </div>
              </div>
            </div><br><br>
      
          <div class="form-group">
            <label class="col-sm-4 control-label">Phone number</label>
            <div class="col-sm-8">
              <span>
                <!-- <select>
                  <option value="india" selected>+91</option>
                  <option value="usa">+93</option>
                  <option value="china">+83</option>
                  <option value="japan">+11</option>
                </select> -->
                <input id="number" [(ngModel)]="newuser.number" type="text" formControlName="phone" class="form-control">
                <div *ngIf="fieldValues.phone.invalid && (fieldValues.phone.dirty || fieldValues.phone.touched)" class="alert">
                  <div *ngIf="fieldValues.phone.errors.required">Phone is required.</div>
                  <div *ngIf="fieldValues.phone.errors.minlength">Minimum length 10.</div>
                </div>
              </span>
            </div>
          </div><br><br>
          <div class="form-group">
            <label class="col-sm-4 control-label">Email</label>
            <div class="col-sm-8">
              <input id="email" [(ngModel)]="newuser.email" type="text" formControlName="email" class="form-control">
              <div *ngIf="fieldValues.email.invalid && (fieldValues.email.dirty || fieldValues.email.touched)" class="alert">
                <div *ngIf="fieldValues.email.errors.required">Email is required.</div>
                <span *ngIf="fieldValues.email.errors.pattern" class="alert alert-danger">
                *Not a valid email
              </span>
              </div>
            </div>
          </div><br><br>
          <div class="form-group">
            <label class="col-sm-4 control-label">Password</label>
            <div class="col-sm-8">
              <input id="Password" [(ngModel)]="newuser.password" type="password" formControlName="password" class="form-control">
              <div *ngIf="fieldValues.password.invalid && (fieldValues.password.dirty || fieldValues.password.touched)"
                class="alert">
                <div *ngIf="fieldValues.password.errors.required">Password is required.</div>
                <div *ngIf="fieldValues.password.errors.minlength">Password length minimum 8</div>
              </div>
            </div>
          </div><br><br>
        </div><hr>

          <div>
            <span class="spanone">
            <a routerLink="/login" routerLinkActive="active">Existing User?</a>&nbsp;&nbsp;
          </span>
          <span class="spantwo">
            <button type="submit" [disabled]="!userLogin.valid " role="button" class="btn btn-primary">Sign Up</button>
          </span>
          </div><br>
        </div>
      </form>

</div>
